.sidenav {
  display: inline-block;
  width: 15%;
  height: 100vh;
  float: left;
  position:fixed;
}

.main-content {
  background-color: white;
  display: inline-block;
  width: 85%;
  height: 100vh;
  float:right;
}