.side-nav {
  margin-top: 3rem; 
  margin-left: 1.5rem;
}

.side-nav-link {
  color: black;
  font-size: 1.3rem; 
  padding: 0;
  margin-left: 10px;
  padding-bottom:5px;
}

.side-nav-link:hover {
  color: red;
}

.side-nav-logo {
  width: 95%;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}
